body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: smaller;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
    
}


* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}
header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
}

footer {
    background: #222;
    grid-area: bottom;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

/* Your Code Here */

.spotifyicon {
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    
}

.container{
    display: flex;
    margin-left: 20px;
    height: 38px;
    justify-content: space-between; 
    padding-left: 10px;
}

.your_library{
    display: flex;
    margin-left: 20px;
    height: 38px;
    justify-content: space-between; 
    padding-left: 10px;
}
.selected, .search, .home{
    margin-top: 10px;
}


div.your_library{
    border-left: solid 2px green;
}
  
  span:hover + .container {
    display: block;
  }

.icon{
    
    width: 10px;
}


/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */
.button{
    background-color: transparent;
    font-size: 1.1em;

    color: hsla(0,0%,100%,.3);
    border-radius: 30px;
    border: 2px solid hsla(0,0%,100%,.3);
    padding-bottom: 20px;
    width: 150px;
    height: 40px;
    align-items: center;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    display:flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    padding: 0 20px;
}

.profile{
    background-color: rgba(89, 89, 89, 0.145);
    font-size: 1.1em;
    color: hsla(0,0%,100%,.3);
    border-radius: 30px;
    border: 2px transparent;
    padding-bottom: 20px;
    width: 150px;
    height: 40px;
    
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    display:flex;
    justify-content: center;
}

.artists{
    border-bottom: green solid 2.5px;
    margin-top: 10px;
}
.albums:hover, .playlists:hover{
    border-bottom: green solid 2.5px;
}


header ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header ul li {
    padding: 0 20px;
}

#upgrade:hover{
    filter:brightness(300%)
}

/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here */
.artist-card {
    box-sizing: border-box;
    border-radius: 30px;
    border: transparent;
    padding: 30px;
    margin: 10px;
    width: 200px;
    height: 290px;

    display:flex;
    
    justify-content: flex-start;
    
    background-color: rgba(89, 89, 89, 0.145);
    font-size: 1.0em;
    color: white;
   
}

#featured-content{
    margin: 15px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* for artist name and button */
.card-footer > p {
    justify-content: left;
    flex-wrap: wrap;    
}

/* play button hover functions */
.card-footer > button {
    display:none;
}
.card-footer:hover > button {
    display: block;
    
}


.play-button {
    border-radius: 30%;
    display:inline-block;
    flex-direction: row;
    margin-bottom: 40px;
    width: 50px;
    height:50px;
    color: white;
    border:none;
    border-radius:50px;
    size: 20%;
    background-color:green;
    transition: 0.7s;
    
}


/*profile pic image adjustments */
.profile-pic {
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    height:auto;
  }


/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media (max-width: 1024px){
    article{
        width: 100%;
        box-sizing: border-box;
        display: flexbox;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .artist-card{
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 5px;
        
    }
    .profile-pic{
        width:80%;
        height:auto;
    }
}

@media (max-width: 600px) {
    body{
        overflow:hidden;
        margin:0px;
        display:grid;
        grid-template-columns: auto;
        grid-template-areas: 
            'main'
            'bottom';
        height:100vh;
    }

    article{
        width: 100%;
        box-sizing: border-box;
        display:flexbox;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .artist-card{
        justify-content: center;
        align-items: center;
        width: 45%;
        margin: 5px;
    }
    .profile-pic{
        width:80%;
        height: auto;
    }
    aside{
        display:none;
    }
}